:root {
  --bg: #171111;
  --body-font: #970202;
  /* --heading-font: #970202; */
  /* --light-gray: #c9c9c9; */
  /* --link: #b868ed; */
  /* --link-hover: #a85fd8; */
  /* --white: #ffffff; */
}

* {
  border: 0;
  color: var(--body-font);
  line-height: 1em;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg);
  min-height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 43.75rem;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6,
marquee,
nav {
  color: var(--heading-font);
  font-family: 'Grenze Gotisch', serif;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  padding-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}

p,
a,
span,
div,
label,
button,
li {
  font-family: 'Texturina', serif;
  font-size: 1.2rem;
  font-weight: 700;
}

section {
  padding-bottom: 2rem;
}

.webring-wrapper {
  display: flex;
  justify-content: center;
}
